.teamTitle
{
  font-size: 70px;
}
.team
{
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}
.member
{
  justify-content: space-around;
  width: 80vw;
  height: 20vh;
  border: thick outset grey;
  margin-bottom: 3vh;
}
h3
{
  display: flex;
  font-size: 20px;
}

img
{
  float: left;
  height: 100px;
  margin: 10px;
}
html {
  height: 100vh;
}
body {
  height: 90vh;
}