#buttons{
    display: flex;
    justify-content: center;
}
.beerButton{ 
    margin: 3em 1em;
    padding: 2em;
    height: 6em;
    width: 12em;
    border: 1px black solid;
    border-radius: 6%;
}