.stuff{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    height: 38em;
}

.enterButton{
    height: 4em;
    width: 10em;
    border-radius: 6%;
    margin-left: 44.5vw;
}

