html {
    height: 100vh;
}
.buttonz {
    display: flex;
    justify-content: center;
}
.welcome {
    display: flex;
    text-align: center;
}

#bs{
    width: 100%;
    height: 49em;
}
body {
    height: 90vh;
}